/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}

.navbar-inverse {
  background-color: #E98E4E;
  border-color: grey;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.headline {
  margin-left: 70px;
  margin-top: 30px;
}

.test_1 {
 width: 49%;
  float: right;
}

.test_3 {
  width: 49%;
  float: left;
}

.tp_left {
  float: left;
  text-align: center;
  padding-top: 50px;
  width: 50%;
  border: 1px solid grey;
  min-height: 200px;
  background-color: #008B95;
}
.tp_right {
  float: right;
  text-align: center;
  padding-top: 50px;
  width: 50%;
  border: 1px solid grey;
  min-height: 200px;
  background-color: #E37222;
}

.bt_left {
  float: left;
  text-align: center;
  padding-top: 50px;
  width: 50%;
  border: 1px solid grey;
  min-height: 200px;
  background-color: #33A2AA;
}
.bt_right {
  float: right;
  text-align: center;
  padding-top: 50px;
  width: 50%;
  border: 1px solid grey;
  min-height: 200px;
  background-color: #E98E4E;
}

.table_responsive_3 {
  max-width: 400px;
  clear: both;
  border: solid black;
  float: right;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar>li>a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
  color: #fff;
  background-color: #008B95;
}

.box {
  margin-top: 5px;
}

/*
 * Main content
 */

.main {
  padding: 5px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 80px;
       
  }
}

.main .page-header {
  margin-top: 0;
}

.menuButtons {
  background-color: #66B9BF;
  margin-top: 5px;
  min-width: 200px;
  border: none;
  color: white;
}

.date{
width: 100%;
border-bottom: 1px solid grey;
padding-bottom:10px;
}

/*
 * Placeholder dashboard ideas
 */

 .styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  float: left;
  clear: both;
  margin-right: 10px;
  margin-bottom: 10px;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}

.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 240px;
}

.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #33A2AA; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
  border: 0;
  color: white;
  background-color: #33A2AA;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  width: 378px;
  *width: 350px;
  *background: #33A2AA;
  -webkit-appearance: none;
}

#mainselection {
  overflow:hidden;
  width:350px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: #33A2AA url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.others {
  color:black
}

select#soflow-color {
  color: #000;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
  background-color: #33A2AA;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
}

.placeholders {
  margin-bottom: 30px;
  margin-left: -20px;
  text-align: center;
}
textarea.ng-invalid {
  background-color: pink;
}
textarea.ng-valid {
  background-color: lightgreen;
}


.placeholders h4 {
  margin-bottom: 0;
}

.placeholder1 {
  background-color: #E37222;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  min-width: 200px;
  margin-left: 60px;
  max-width: 200px;
  min-height: 200px;
  position: relative;
  padding-top: 35px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.placeholder3 {
  background-color: #E98E4E;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  min-width: 200px;
  margin-left: 60px;
  margin-bottom: 15px;
  max-width: 200px;
  min-height: 200px;
  position: relative;
  padding-top: 25px;
  border-radius: 100%;
}

.text-muted {
  color: #f5f5f5;
}

.placeholder4 {
  background-color: #33A2AA;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  min-width: 200px;
  margin-left: 60px;
  max-width: 200px;
  min-height: 200px;
  position: relative;
  padding-top: 35px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.placeholder2 {
  background-color: #66B9BF;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  min-width: 200px;
  margin-left: 60px;
  max-width: 200px;
  min-height: 200px;
  position: relative;
  padding-top: 20px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

table.blueTable {
  border: 1px solid #33A2AA;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #33A2AA;
  background: -moz-linear-gradient(top, #33A2AA 0%, #33A2AA 66%, #33A2AA 100%);
  background: -webkit-linear-gradient(top, #33A2AA 0%, #33A2AA 66%, #33A2AA 100%);
  background: linear-gradient(to bottom, #33A2AA 0%, #33A2AA 66%, #33A2AA 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}