<!DOCTYPE html>
<html ng-app="nodeTodo"> 
  <head>
    <title>Todo App - with Node + Express + Angular + PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
  	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=19472395a2969da78c8a4c707e72123a">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <style>
      .toggler {
        width: 500px;
        height: 200px;
      }
      #button {
        padding: .5em 1em;
        text-decoration: none;
      }
      #effect {
        position: relative;
        width: 240px;
        height: 170px;
        padding: 0.4em;
      }
      #effect h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
      }
      </style>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content"
    });
  } );
  </script>
  <script type="text/javascript">
	
  $(document).ready(function() {
    $('#example').DataTable( {
            "ajax": {
    "url": "http://localhost:3000/api/puppies",
   },
   "columns": [
            { "data": "state" },
            { "data": "city" },
            { "data": "zip" },
            { "data": "observation_time" },
            { "data": "temp_f" }
                  ]
    } );
} );


  </script>

  </head>
  <body ng-controller="mainController">
    <div class="container">
        <div class="todo_list" id="accordion">
        <h3>Settings</h3>
        <div>
                  <form>
               
                  <input type="text" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.text">
                
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Adjust Zip</button>
              </form>
              <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="getWeather()">Refresh Weather</button>
            
        </div>
        <h3>Weather</h3>
        <div class="dstream">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>City</th>
                        <th>Zip</th>
                        <th>Time</th>
                        <th>Temp</th>
          
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>State</th>
                      <th>City</th>
                      <th>Zip</th>
                      <th>Time</th>
                      <th>Temp</th>
                    </tr>
                </tfoot>
            </table>
          </div>
      </div>
     
        </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
